@media (max-width: 769px){
    .calculator {
        width: 90%;
        margin-top: 30px;
        margin-left: 15px;
    }
    button {
        width: 40px;
        padding: 5px;
    }
    #equalto {
        width: 34.4%;
    }
}