@media (min-width: 768px) and (max-width: 992px) {
    .calculator {
        width: 70%;
        margin-top: 30px;
    }
    button {
        width: 60px;
        padding: 15px;
    }
    #equalto {
        width: 36.4%;
    }
}